<% if (contributions) { %>
  <h3>Contributions</h3>
  <ul class="post__projects-text">
    <% contributions.forEach(function (contribution) { %>
      <li>
        <%- blog_attribution(contribution.author) %>
        <%- github_contribution(contribution.github, contribution.action) %>
        <%- markdown(contribution.description) %>

        <!-- If contribution is not to A-Frame proper (e.g., editor), then note project. -->
        <% var project = contribution.github.split('|'); %>
        <% if (project.length > 1) { %>
          (for <a href="https://github.com/<%- project[0] %>"><%- project[0] %></a>)
        <% } %>
      </li>
    <% }) %>
  </ul>
<% } %>
