<% if (item) { %>
  <iframe class="example__iframe" data-example="<%- item.slug %>"
          width="<%- item.width %>"
          height="<%- item.height %>" src="<%- external_example_url(item.path) %>"
          data-original-base-url="<%- config.examples.base_url %>"
          data-path="<%- item.path %>"
          allowfullscreen="yes" scrolling="no"></iframe>
  <!--
  <% if (item.codepen_url) { %>
    <a href="<%- item.codepen_url %>" class="example__codepen" target="_blank">Fork on CodePen</a>
  <% } %>
  -->
  <% if (!item.is_external || item.github_url) { %>
    <a href="<%- item.github_url || github_file_url('examples/' + item.path + 'index.html') %>" class="btn example__viewsource" target="_blank">View Source</a>
  <% } %>
<% } %>
