<aside class="sidebar borderless-links">
  <%- partial('partials/secondary/sidebar_header', {site: site}) %>

  <div class="list">
  </div>
</aside>

<div class="content content--blog copy post">
  <div class="copy__wrap">
    <% if (page.blog_index) { %>
      <h1 class="page__title"><%- config.blog_title %></h1>
      <%- page.content %>
      <% site.posts.sort('date', -1).each(function (post) { %>
        <div class="post">
          <h2><a href="<%- page_url(post.path) %>"><%- post.title %></a></h2>
          <h4><%- post.date.format('MMM D[,] YYYY') %></h4>
          <div class="post__excerpt"><%- post.excerpt %></div>
          <a href="<%- page_url(post.path) %>" class="post__more">Read more &hellip;</a>
        </div>
      <% }) %>
    <% } else { %>
      <h1 class="post__heading"><%- page.title %></h1>
      <h4 class="post__timestamp"><%- page.date.format('MMM D[,] YYYY') %></h4>
      <%- page.content %>
    <% } %>

    <footer class="footer">
      <p>Except where otherwise noted, content on this site is licensed under the Creative Commons Attribution Share-Alike License v3.0 or any later version.</p>
      <% if (!page.blog_index) { %>
        <p>Caught a mistake? &nbsp; <a href="<%- website_github_file_url('_posts/' + page.slug + '.md') %>" target="_blank">Suggest an edit to this post on GitHub</a></p>
      <% } %>
    </footer>
  </div>
</div>
