<%- partial('partials/examples/sidebar', {site: site}) %>

<div class="content content--index">
  <iframe class="example__iframe" src="http://aframevr.github.io/aframe/examples/animation-aframe-logo/" allowfullscreen="yes" scrolling="no" height="" width=""></iframe>
  <div class="copy__wrap">
    <ul class="menu">
      <li class="menu-item"><a href="<%- url_for('docs/') %>">Docs</a></li>
      <li class="menu-item"><a href="<%- url_for('faq/') %>">FAQ</a></li>
      <li class="menu-item"><a href="<%- url_for('blog/') %>">Blog</a></li>
      <li class="menu-item"><a href="<%- url_for('community/') %>">Community</a></li>
      <li class="menu-item"><a href="http://github.com/aframevr">GitHub</a></li>
    </ul>
    <h1 class="slogan">
      Building blocks for the<br>
      virtual reality web
    </h1>
    <%- page.content %>
  <a class="get-started" href="<%- url_for('docs/') %>" class="nav-link nav-link-get-started<%- page.canonical_path.match(/docs/) ? ' current' : '' %>">
    Get Started
  </a>
  <a class="credits borderless-links" href="http://mozvr.com"></a>
  </div>
</div>
