<!-- Homepage. -->

<script src="https://rawgit.com/aframevr/aframe/master/dist/aframe.min.js"></script>
<% site.data.examples.examples.forEach(function (example, i) { %>
  <% if (!example.components || !example.components.length) { return; } %>
  <% example.components.forEach(function (component) { %>
    <%- js(component.file) %>
  <% }); %>
<% }); %>

<div class="home">
  <header class="home__header">
    <div class="home__header__logo">
      <h1 class="home__wordmark">A-Frame</h1>
      <h2 class="home__motto">Make WebVR</h2>
    </div>
    <nav>
      <ul class="home__nav">
        <li><a href="<%- url_for(docs_root_path(site.pages, config.aframe_version)) %>">
          Docs</a></li>
        <li><a href="<%- config.slack.aframe.signup_url %>">Slack</a></li>
        <li><a href="<%- config.twitter.url %>">Twitter</a></li>
        <li><a href="<%- config.github.aframe.url %>">GitHub</a></li>
        <li>
          <a href="https://aframe.io/releases/<%- config.aframe_version %>/aframe.min.js"
             download>
            Download</a>
        </li>
      </ul>
    </nav>
  </header>

  <div class="home__examples">
    <!-- Example nav. -->
    <ul class="home__examples__nav">
      <% site.data.examples.examples.forEach(function (example, i) {
        var className = (i === 0) ? 'home__examples--active' : '' %>
        <li><a data-example-link="<%= example.slug %>" class="<%= className %>"><%= example.title %></a></li>
      <% }); %>
    </ul>
    <div class="home__examples__scene-container">
      <div class="home__examples__scene">
        <!-- Actual scene. -->
        <%- examples_get_source(site.data.examples.examples[0].slug) %>
      </div>
      <div class="home__examples__details-container">
        <% site.data.examples.examples.forEach(function (example, i) { %>
          <div class="home__examples__detail
                     <%- i === 0 ? 'home__examples__detail--active' : '' %>"
               data-example-detail="<%= example.slug %>">
            <!-- Source code. -->
            <pre class="home__examples__pre"><code class="home__examples__code"><%= examples_get_source(site.data.examples.examples[i].slug) %></code></pre>
            <div class="home__examples__panel">
              <!-- Components. -->
              <% if (example.components && example.components.length) { %>
                <div class="home__examples__components">
                  <h4>Components Used</h4>
                  <ul>
                    <% example.components.forEach(function (component) { %>
                      <li><a href="<%- component.file %>" target="_blank"
                             rel="noopener noreferrer"><%- component.title %></a></li>
                    <% }); %>
                  </ul>
                </div>
              <% } %>
              <!-- Assets. -->
              <% if (example.assets && example.assets.length) { %>
                <div class="home__examples__assets">
                  <h4>Assets Used</h4>
                  <ul>
                    <% example.assets.forEach(function (asset) { %>
                      <li><a href="<%- asset.file %>" target="_blank"
                           rel="noopener noreferrer"><%- asset.title %></a></li>
                    <% }); %>
                  </ul>
                </div>
              <% } %>
            </div>
          </div>
        <% }); %>
      </div>
    </div>
  </div>

  <div class="home__workflows">
    <h2>Make A-Frame</h2>
    <ul class="home__workflows__container">
      <li><a>HTML</a></li>
      <li><a>JavaScript</a></li>
      <li><a>MagicaVoxel</a></li>
      <li><a>Blender</a></li>
    </ul>
  </div>

  <div class="home__features">
    <h2>Weekly Features</h2>
    <ul class="home__features__container">
      <% site.posts
          .filter(function (post) { return post.awoa; })
          .sort('date', -1)
          .slice(0, 4)
          .forEach(function (post, i) { %>
        <% var project = post.awoa.projects[0]; %>
        <% if (i === 0) { %>
          <li class="home__feature__active">
            <%- partial('partials/blog/awoa_project', {project: project}) %>
            <div class="home__feature__details">
              <h3><%- project.title %></h3>
              <p><%- markdown(project.description) %></p>
              <div class="home__feature__avatar">
                <p>By <%- blog_attribution(project.author) %></p>
              </div>
            </div>
          </li>
        <% } else { %>
          <li class="home__feature">
            <%- partial('partials/blog/awoa_project', {project: project}) %>
          </li>
        <% } %>
      <% }); %>
    </ul>
  </div>

  <div class="home__blog">
    <h2>Blog</h2>
    <ul class="home__blog__container">
      <% site.posts.sort('date', -1).slice(0, 4).forEach(function (post, i) { %>
        <li class="home__blog-post">
          <div class="home__blog-post__details">
            <h3><a href="<%- post.path %>"><%- post.title %></a></h3>
            <a><%- post.author %></a>
          </div>
          <img src="<%- post.image %>">
        <li>
      <% }); %>
    </ul>
  </div>

  <div class="home__faq">
    <h2>FAQ</h2>
    <ul class="home__faq__container">
      <li class="home__faq__item">
        <h3>What is A-Frame?</h3>
        <p>
          A-Frame is an open-source WebVR framework for creating virtual
          reality experiences with HTML. Under the hood, it is a VR-oriented three.js
          framework that introduces a declarative entity-component pattern.
        </p>
        <a href="/docs/guide/">Learn More</a>
      </li>
      <li class="home__faq__item">
        <h3>What is WebVR?</h3>
        <p>
          WebVR is virtual reality in the browser.
        </p>
        <a href="https://vr.mozilla.org">Learn More</a>
      </li>
      <li class="home__faq__item">
        <h3>What do I need?</h3>
        <p>You need a browser and a headset.</p>
        <a href="https://vr.mozilla.org">Learn More</a>
      </li>
    </ul>
  </div>
</div>

<%- js('js/home.js') %>
