<%- partial('partials/examples/sidebar', {site: site, page: page}) %>

<div class="content content--index home-content">
  <div class="home-center">
    <iframe
      id="exampleIframe" class="example__iframe"
      width="100%" height="100%"
      src="<%= site.data.examples.home.scene_url %>"
      allowfullscreen="yes" allowvr="yes" scrolling="no"></iframe>
  </div>

  <div id="homeContent" class="copy__wrap">
    <ul class="menu">
      <li class="menu-item">
        <a href="<%- url_for(docs_root_path(site.pages, config.aframe_version)) %>">Docs</a>
      </li>
      <li class="menu-item">
        <a href="<%- url_for('faq/') %>">FAQ</a>
      </li>
      <li class="menu-item">
        <a href="<%- url_for('blog/') %>">Blog</a>
      </li>
      <li class="menu-item">
        <a href="<%- url_for('community/') %>">Community</a>
      </li>
      <li class="menu-item">
        <a href="<%- url_for('showcase/') %>">Showcase</a>
      </li>
    </ul>

    <%- page.content %>

    <a href="<%- url_for('docs/' + config.aframe_version + '/introduction/') %>"
       class="get-started nav-link">
      Get Started
    </a>

    <div id="usersContainer">
      <p>Maintained by</p>
      <a href="https://supermedium.com"><img src="/images/users/supermedium.svg"></a>
    </div>
  </div>
</div>
