<div id="hero" class="hero">
  <div class="inner">
    <ul id="nav" class="nav">
      <li class="nav-item"><a href="guide/" class="nav-link">Guide</a></li>
      <li class="nav-item"><a href="api/" class="nav-link">API</a></li>
      <li class="nav-item"><a href="examples/" class="nav-link">Examples</a></li>
      <li class="nav-item"><a href="blog" class="nav-link">Blog</a></li>
      <%- partial('partials/community_dropdown') %>
    </ul>
    <div class="intro-wrap">

      <p class="intro"><b>A-Frame</b> is a library for virtual-reality building blocks for the Web.</p>

    </div>
    <p class="desc"><%- config.subtitle %></p>
    <p class="buttons">
      <a href="/guide/installation.html" class="button">Install v<%- theme.aframe_version %></a>
    </p>
    <ul id="social" class="social">
      <li><a href="https://twitter.com/aframevr" class="twitter-follow-button" data-show-count="false" data-dnt="true">Follow @aframevr</a></li>
      <li><iframe src="http://ghbtns.com/github-btn.html?user=aframevr&amp;repo=aframe&amp;type=watch&amp;count=true"
    allowtransparency="true" scrolling="0" width="100" height="20"></iframe></li>
    </ul>
  </div>
</div>

<div id="features" class="features">
  <div class="feats">
    <div class="feat">
      <h2><span class="icon simple"></span>Simple</h2>
      <p>Write some HTML, and &mdash; voila &mdash; you have an A-Frame scene!</p>
    </div>
    <div class="feat">
      <h2><span class="icon powerful"></span>Reactive</h2>
      <p>Expressions & computed properties with transparent dependency tracking.</p>
    </div>
    <div class="feat">
      <h2><span class="icon composable"></span>Components</h2>
      <p>Compose your application with decoupled, reusable components.</p>
    </div>
    <div class="feat">
      <h2><span class="icon compact"></span>Compact</h2>
      <p>~24kb min+gzip, no dependency.</p>
    </div>
    <div class="feat">
      <h2><span class="icon fast"></span>Fast</h2>
      <p>Precise and efficient async batch DOM updates.</p>
    </div>
    <div class="feat">
      <h2><span class="icon module"></span>Package Ready</h2>
      <p>Install via npm  or Bower - leverage your favorite ecosystem!</p>
    </div>
  </div>
</div>
<div id="why" class="why">
  <h2>You should try it out if you like:</h2>
  <ul>
    <li>Extendable Data bindings</li>
    <li>Plain JS object models</li>
    <li>API that simply makes sense</li>
    <li>Build UI by composing components</li>
    <li>Mix &amp; matching small libraries</li>
  </ul>
</div>
<footer id="footer" class="footer">
  <a class="start" href="/guide/">Get Started</a>
  <p>Released under the <a href="http://opensource.org/licenses/MIT" target="_blank">MIT License</a></p>
  <p>&copy; Copyright <%- date(Date.now(), 'YYYY') %> <a href="http://mozvr.com/" target="_blank"><%- config.author %></a></p>
</footer>

<!-- Twitter follow button script -->
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
