<script src="https://rawgit.com/aframevr/aframe/master/dist/aframe.min.js"></script>
<% site.data.examples.examples.forEach(function (example, i) { %>
  <% if (!example.dependencies || !example.dependencies.length) { return; } %>
  <% example.dependencies.forEach(function (dependency) { %>
    <script src="<%- dependency.src %>"></script>
  <% }); %>
<% }); %>

<div class="home">
  <header class="home__header">
    <div class="home__header__logo">
      <h1 class="home__wordmark">A-Frame</h1>
      <h2 class="home__motto">Make WebVR</h2>
    </div>
    <nav>
      <ul class="home__nav">
        <li><a>Docs</a></li>
        <li><a>Slack</a></li>
        <li><a>Twitter</a></li>
        <li><a>GitHub</a></li>
        <li><a>Download</a></li>
      </ul>
    </nav>
  </header>

  <div class="home__examples">
    <ul class="home__examples__nav">
      <% site.data.examples.examples.forEach(function (example, i) { %>
        <li><a data-example-link="<%= example.slug %>"><%= example.title %></a></li>
      <% }); %>
    </ul>
    <div class="home__examples__scene-container">
      <div class="home__examples__scene">
        <%- examples_get_source(site.data.examples.examples[0].slug) %>
      </div>
      <div class="home__examples__details">
        <% site.data.examples.examples.forEach(function (example, i) { %>
          <pre><code data-example-code="<%= example.slug %>" class="home__examples__code <%- i === 0 ? 'home__examples__code--active' : '' %>"><%= examples_get_source(site.data.examples.examples[i].slug) %></code></pre>
        <% }); %>
      </div>
    </div>
  </div>

  <div class="home__workflows">
    <h2>Make A-Frame</h2>
    <ul class="home__workflows__container">
      <li><a>HTML</a></li>
      <li><a>JavaScript</a></li>
      <li><a>MagicaVoxel</a></li>
      <li><a>Blender</a></li>
    </ul>
  </div>

  <div class="home__features">
    <h2>Weekly Features</h2>
    <ul class="home__features__container">
      <% site.posts
          .filter(function (post) { return post.awoa; })
          .sort('date', -1)
          .slice(0, 4)
          .forEach(function (post, i) { %>
        <% var project = post.awoa.projects[0]; %>
        <% if (i === 0) { %>
          <li class="home__feature__active">
            <%- partial('partials/blog/awoa_project', {project: project}) %>
            <div class="home__feature__details">
              <h3><%- project.title %></h3>
              <p><%- markdown(project.description) %></p>
              <div class="home__feature__avatar">
                <p>By <%- blog_attribution(project.author) %></p>
              </div>
            </div>
          </li>
        <% } else { %>
          <li class="home__feature">
            <%- partial('partials/blog/awoa_project', {project: project}) %>
          </li>
        <% } %>
      <% }); %>
    </ul>
  </div>

  <div class="home__blog">
    <h2>Blog</h2>
    <ul class="home__blog__container">
      <% site.posts.sort('date', -1).slice(0, 4).forEach(function (post, i) { %>
        <li class="home__blog-post">
          <div class="home__blog-post__details">
            <a href="<%- post.path %>"><%- post.title %></a>
            <a><%- post.author %></a>
          </div>
          <img src="<%- post.image %>">
        <li>
      <% }); %>
    </ul>
  </div>

  <div class="home__faq">
    <h2>FAQ</h2>
    <ul class="home__faq__container">
      <li class="home__faq__question">
        <h3>What is A-Frame?</h3>
        <p>A-Frame is an open-source WebVR framework for creating virtual reality experiences with HTML.</p>
      </li>
      <li class="home__faq__question">
         <h3>What is WebVR?</h3>
         <p>WebVR is virtual reality in the browser.</p>
      </li>
      <li class="home__faq__question">
         <h3>What do I need?</h3>
         <p>You need a browser and a headset.</p>
      </li>
    </ul>
  </div>

  <footer class="home__footer">
    Mozilla
  </footer>
</div>

<%- js('js/home.js') %>
