<!-- Homepage. -->
<div class="home">
  <header class="home__header">
    <div class="home__header__logo">
      <p class="home__logo"></p>
      <h1 class="home__wordmark">A-Frame</h1>
      <h2 class="home__motto">Make WebVR</h2>
    </div>
    <nav>
      <ul class="home__nav">
        <li><h3><a href="<%- url_for(docs_root_path(site.pages, config.aframe_version)) %>">
          Docs</a></h3></li>
        <li><h3><a href="/blog/">Blog</a></h3></li>
        <li><h3><a href="<%- config.slack.aframe.signup_url %>">Slack</a></h3></li>
        <li class="home__nav__github"><a href="<%- config.github.aframe.url %>">
          <img src="<%- url_for('/images/github.png') %>"></a></li>
        <li class="home__nav__twitter"><a href="<%- config.twitter.url %>">
          <img src="<%- url_for('/images/twitter.png') %>"></a></li>
        <li class="home__nav__download">
          <a href="<%- url_for(docs_root_path(site.pages, config.aframe_version)) + 'getting-started.html#builds' %>">
            Get A-Frame v<%- config.aframe_version %></a>
        </li>
      </ul>
    </nav>
  </header>

  <div class="home__examples">
    <!-- Example nav. -->
    <ul class="home__examples__nav">
      <% site.data.examples.examples.forEach(function (example, i) { %>
        <% var exampleMetadata = examples_get_metadata(example.npm); %>
        <li data-example-link="<%= example.npm %>" data-index="<%- i %>">
          <a><%- exampleMetadata.title %></a>
        </li>
      <% }); %>
    </ul>

    <div class="home__examples__scene-container">
      <div class="home__examples__scene">
        <!-- Actual scene. -->
      </div>
      <!-- Individual examples all in one container. -->
      <div class="home__examples__details-container">
        <% site.data.examples.examples.forEach(function (example, i) { %>
          <% var exampleMetadata = examples_get_metadata(example.npm); %>
          <div class="home__examples__detail"
               data-example-detail="<%= example.npm %>"
               data-example-mobile="<%= exampleMetadata.mobile %>">
            <textarea class="home__examples__code"><%= examples_get_source(example.npm) %></textarea>
            <div class="home__examples__panel-wrapper">
              <div class="home__examples__panel">
                <!-- Title and mobile nav. -->
                <div class="home__examples__title">
                  <a class="home__examples__prev" title="Previous">&larr;</a>
                  <h2><%- exampleMetadata.title %></h2>
                  <a class="home__examples__download-desktop"
                     href="https://github.com/<%- exampleMetadata.repo %>">Download Scene</a>
                  <a class="home__examples__next" title="Next">&rarr;</a>
                </div>
                <a class="home__examples__download-mobile"
                     href="https://github.com/<%- exampleMetadata.repo %>">Download Scene</a>
                <!-- Description. -->
                <% if (exampleMetadata.description) { %>
                  <div class="home__examples__description"><%- markdown(exampleMetadata.description) %></div>
                <% } %>
                <!-- Components. -->
                <% if (exampleMetadata.components && exampleMetadata.components.length) { %>
                  <div class="home__examples__components">
                    <h4>Components Used</h4>
                    <ul>
                      <% exampleMetadata.components.forEach(function (component) { %>
                        <li>
                          <a href="<%- examples_get_js_path(example.npm, component.file) %>"
                             target="_blank" rel="noopener noreferrer">
                            <%- component.title %>
                          </a>
                        </li>
                      <% }); %>
                    </ul>
                  </div>
                <% } %>
                <!-- Assets. -->
                <% if (exampleMetadata.assets && exampleMetadata.assets.length) { %>
                  <div class="home__examples__assets">
                    <h4>Assets Used</h4>
                    <ul>
                      <% exampleMetadata.assets.forEach(function (asset) { %>
                        <li><a href="<%- asset.file %>" target="_blank"
                             rel="noopener noreferrer"><%- asset.title %></a></li>
                      <% }); %>
                    </ul>
                  </div>
                <% } %>
              </div>
            </div>
          </div>
        <% }); %>
      </div>
    </div>
  </div>

  <div class="home__workflows">
    <h2>Make A-Frame</h2>
    <ul class="home__workflows__container">
      <li><a href="<%- url_for(docs_root_path(site.pages, config.aframe_version)) + 'building-a-basic-scene.html' %>">HTML</a></li>
      <li><a href="https://github.com/ngokevin/aframe-magicavoxel-projects">MagicaVoxel</a></li>
      <li><a href="<%- url_for(docs_root_path(site.pages, config.aframe_version)) + 'building-an-advanced-scene.html'%>">Entity-Component-System</a></li>
      <li><a href="https://github.com/ngokevin/aframe-react">React</a></li>
    </ul>
  </div>

  <div class="home__features">
    <h2>Weekly Features</h2>
    <ul class="home__features__container">
      <% site.posts
          .filter(function (post) { return post.awoa; })
          .sort('date', -1)
          .slice(0, 4)
          .forEach(function (post, i) { %>
        <% var project = post.awoa.projects[0]; %>
        <% if (i === 0) { %>
          <li class="home__feature__active">
            <%- partial('partials/blog/awoa_project', {project: project}) %>
            <div class="home__feature__details">
              <h3><%- project.title %></h3>
              <p class="home__feature__description"><%- markdown(project.description) %></p>
              <div class="home__feature__avatar">
                <p>By <%- blog_attribution(project.author) %></p>
              </div>
            </div>
          </li>
        <% } else { %>
          <li class="home__feature">
            <%- partial('partials/blog/awoa_project', {project: project}) %>
          </li>
        <% } %>
      <% }); %>
    </ul>
  </div>

  <div class="home__blog">
    <h2>Blog</h2>
    <ul class="home__blog__container">
      <% site.posts.sort('date', -1).slice(0, 4).forEach(function (post, i) { %>
        <li class="home__blog-post">
          <div class="home__blog-post__details">
            <h2 class="home__blog-post__title"><a href="<%- post.path %>"><%- post.title %></a></h2>
            <a><%- post.author %></a>
            <p class="home__blog-post__date"><%- blog_date(post.date) %></p>
            <% if (post.awoa) { %>
              <p class="home__blog-post__description">
                What's up with A-Frame for the week of <%= blog_date_subtract_week(post.date) %> to <%= blog_date(post.date) %>.
              </p>
            <% } else { %>
              <div class="home__blog-post__description"><%- post.excerpt %></div>
            <% } %>
          </div>
          <% if (post.image) { %>
            <a class="home__blog-post__image"
               href="<%- post.path %>" alt="<%- post.title %>"
               style="background-image: url(<%- url_for('/images/blog/' + post.image.src) %>)">
            </a>
          <% } %>
        <li>
      <% }); %>
    </ul>
  </div>

  <div class="home__faq">
    <h2>FAQ</h2>
    <ul class="home__faq__container">
      <li class="home__faq__item">
        <h3>What is A-Frame?</h3>
        <p>
          A-Frame is a declarative entity-component WebVR framework for
          three.js that lets you <b>build virtual reality experiences with HTML</b>.
        </p>
        <a href="/docs/guide/">Learn More</a>
      </li>
      <li class="home__faq__item">
        <h3>What is WebVR?</h3>
        <p>
          WebVR is a JavaScript API that enables virtual reality in the browser that lets
          you <b>walk in a web page</b>.
        </p>
        <a href="https://vr.mozilla.org">Learn More</a>
      </li>
      <li class="home__faq__item">
        <h3>What do I need?</h3>
        <p>
          You need to grab a <b>WebVR-enabled browser</b> and a <b>virtual
          reality headset</b>, or a Cardboard-style holder for your smartphone.
        </p>
        <a href="https://vr.mozilla.org">Learn More</a>
      </li>
    </ul>
  </div>
</div>
