<% var projectTitle = config.title + ' – ' + config.subtitle %>
<% var isHome = is_current('index.html') %>
<% var showExamples = page.type === 'examples' %>
<% var isSecondary = page.layout !== 'examples' %>
<!DOCTYPE html>
<html lang="en" data-is-home="<%- isHome %>" data-is-mobile="false" data-supports-vr="false" data-supports-touch="false" data-root-url="<%- config.root %>" data-title="{title} | A-Frame" data-is-spa="<% config.spa %>" data-ga-id="<%- config.google_analytics %>">
  <head>
    <title><%- page.full_title || (isHome ? projectTitle : (page.title ? page.title + ' — ' : '') + config.title) %></title>
    <%- partial('partials/force_https') %>
    <meta charset="utf-8">
    <meta name="robots" content="<%- config.robots %>">
    <meta name="description" content="<%- projectTitle %>">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <meta property="fb:app_id" content="<%- config.fb_app_id %>">
    <meta property="og:title" content="A-Frame">
    <meta property="og:site_name" content="A-Frame">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://aframe.io/">
    <meta property="og:description" content="<%- config.subtitle %>">
    <meta property="og:image" content="http://aframe.io/images/card.png">
    <meta property="og:image:secure_url" content="https://aframe.io/images/card.png">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@aframevr">
    <meta name="twitter:creator" content="@aframevr">
    <meta name="twitter:title" content="<%- config.title %>">
    <meta name="twitter:description" content="<%- config.subtitle %>">
    <meta name="twitter:image" content="https://aframe.io/images/card.png">

    <meta name="web-app-capable" content="yes">
    <meta name="theme-color" content="black">
    <link rel="icon" sizes="192x192" href="<%- url_for('images/aframe-logo-192.png') %>">

    <link rel="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="apple-touch-icon" href="<%- url_for('images/aframe-logo-152.png') %>">

    <link rel="alternate" type="application/rss+xml" title="Feed" href="<%- url_for(config.feed.path) %>">

    <%- js('js/compat.js') %>

    <% if (showExamples) { %>
      <%- css('css/index') %>
      <% if (!isHome) { %>
        <%- css('css/examples') %>
      <% } %>
    <% } else { %>
      <%- css('css/secondary') %>
    <% } %>

    <%- partial('partials/ga') %>
  </head>
  <body data-page-layout="<%- page.layout %>" data-page-type="<%- page.type %>">
    <% if (!showExamples) { %>
      <%- partial('partials/secondary/mobile_nav') %>
    <% } %>
    <main id="main" class="main">
      <%- body %>
    </main>
    <%- js('js/common.js') %>
    <%- js('js/ga.js') %>
    <%- js('js/single-page.js') %>
    <% if (showExamples) { %>
      <%- js('js/examples.js') %>
    <% } %>
    <% if (isSecondary) { %>
      <%- js('js/docs.js') %>
    <% } %>
  </body>
</html>
