<% var projectTitle = config.title + ' – ' + config.subtitle %>
<% var isHome = is_current('index.html') %>
<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%- isHome ? projectTitle : (page.title ? page.title + ' — ' : '') + config.title %></title>
    <meta charset="utf-8">
    <meta name="robots" content="<%- config.robots %>">
    <meta name="description" content="<%- projectTitle %>">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600|Roboto Mono" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Dosis:300,500" rel="stylesheet" type="text/css">
    <link rel="icon" href="<%- url_for('images/aframe-logo.png') %>" type="image/x-icon">
    <%- css('css/page') %>
    <%- partial('partials/ga') %>
  </head>
  <body data-page-type="<%- page.type %>" data-is-home="<%- isHome %>" data-examples-base-url="<%- config.examples.base_url %>" data-examples-offline-base-url="<%- config.examples.offline_base_url %>">
    <div id="mobile-bar" class="mobile-bar">
      <a class="menu-button"></a>
      <a class="logo" href="<%- url_for('/') %>"></a>
    </div>
    <main id="main" class="main">
      <% if (page.blog_index) { %>
        <%- partial('partials/blog') %>
      <% } else { %>
        <%- body %>
      <% } %>
    </main>
    <%- js('js/smooth-scroll.min.js') %>
    <%- js('js/common.js') %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.6/fastclick.min.js"></script>
    <script>
      (function () {
        if ('FastClick' in window) {
          document.addEventListener('DOMContentLoaded', function () {
            FastClick.attach(document.body);
          });
        }
      })();
    </script>
  </body>
</html>
