<% var projectTitle = config.title + ' – ' + config.subtitle %>
<% var isHome = is_current('index.html') %>
<% var showExamples = page.type === 'examples' %>
<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%- page.full_title || (isHome ? projectTitle : (page.title ? page.title + ' — ' : '') + config.title) %></title>
    <%- partial('partials/force_https') %>
    <meta charset="utf-8">
    <meta name="robots" content="<%- config.robots %>">
    <meta name="description" content="<%- projectTitle %>">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="<%- url_for('images/aframe-logo.png') %>" type="image/x-icon">
    <% if (showExamples) { %>
      <%- css('css/examples') %>
    <% } else { %>
      <%- css('css/secondary') %>
    <% } %>
    <%- partial('partials/ga') %>
  </head>
  <body data-page-layout="<%- page.layout %>" data-page-type="<%- page.type %>" data-is-home="<%- isHome %>">
    <% if (!isHome) { %>
      <%- partial('partials/secondary/mobile_nav') %>
    <% } %>
    <main id="main" class="main">
      <%- body %>
    </main>
    <% if (!isHome) { %>
      <%- js('js/smooth-scroll.min.js') %>
      <%- js('js/common.js') %>
    <% } %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.6/fastclick.min.js"></script>
    <script>
      (function () {
        if ('FastClick' in window) {
          document.addEventListener('DOMContentLoaded', function () {
            FastClick.attach(document.body);
          });
        }
      })();
    </script>
  </body>
</html>
