<% var projectTitle = config.title + ' – ' + config.subtitle %>
<% var isHome = is_current('index.html') %>
<% var showExamples = page.type === 'examples' %>
<!DOCTYPE html>
<html lang="en" data-is-home="<%- isHome %>" data-is-mobile="false">
  <head>
    <title><%- page.full_title || (isHome ? projectTitle : (page.title ? page.title + ' — ' : '') + config.title) %></title>
    <%- partial('partials/force_https') %>
    <meta charset="utf-8">
    <meta name="robots" content="<%- config.robots %>">
    <meta name="description" content="<%- projectTitle %>">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="fb:app_id" content="<%- config.fb_app_id %>">
    <meta property="og:title" content="A-Frame">
    <meta property="og:site_name" content="A-Frame">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://aframe.io/">
    <meta property="og:description" content="<%- config.subtitle %>">
    <meta property="og:image" content="http://aframe.io/images/card.png">
    <meta property="og:image:secure_url" content="https://aframe.io/images/card.png">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@aframevr">
    <meta name="twitter:creator" content="@aframevr">
    <meta name="twitter:title" content="<%- config.title %>">
    <meta name="twitter:description" content="<%- config.subtitle %>">
    <meta name="twitter:image" content="https://aframe.io/images/card.png">

    <link rel="icon" href="<%- url_for('images/aframe-logo.png') %>" type="image/x-icon">
    <link rel="alternate" type="application/rss+xml" title="Feed" href="<%- url_for(config.feed.path) %>">

    <%- js('js/mobile.js') %>
    <% if (showExamples) { %>
      <%- css('css/examples') %>
    <% } else { %>
      <%- css('css/secondary') %>
    <% } %>
    <%- partial('partials/ga') %>
  </head>
  <body data-page-layout="<%- page.layout %>" data-page-type="<%- page.type %>">
    <% if (!showExamples) { %>
      <%- partial('partials/secondary/mobile_nav') %>
    <% } %>
    <main id="main" class="main">
      <%- body %>
    </main>
    <%- js('js/common.js') %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.6/fastclick.min.js"></script>
    <script>
      (function () {
        if ('FastClick' in window) {
          document.addEventListener('DOMContentLoaded', function () {
            FastClick.attach(document.body);
          });
        }
      })();
    </script>
  </body>
</html>
