<% var isHome = is_current('index.html') %>
<% var showExamples = page.type === 'examples' %>
<% var isSecondary = page.layout !== 'examples' %>
<% var isDocs = page.layout === 'docs' %>
<% var is404 = page.layout === '404' %>
<% var delimiter = ' – ' %>
<% var projectTitle = config.title + delimiter + config.subtitle %>
<% var sectionTitle = isDocs ? ' Docs ' + delimiter : '' %>
<% var pageTitle = page.title ? page.title + delimiter : '' %>
<% pageTitle = page.full_title || (isHome ? projectTitle : pageTitle + config.title) %>
<% src = page.image && page.image.src %>
<% if (src && src.indexOf('http') === -1) { %>
  <% src = absolute_url_for('/images/blog/' + src); %>
<% } %>
<% var metaImage = src || (absolute_url_for(meta_image(page, 'images/card.jpg'), {secure: false}) + '?v2') %>
<% var metaImageSecure = src || (absolute_url_for(meta_image(page, 'images/card.jpg'), {secure: true}) + '?v2') %>
<!DOCTYPE html>
<html lang="en"
      data-is-home="<%- isHome %>"
      data-is-mobile="false"
      data-supports-vr="false"
      data-supports-touch="false"
      data-site-base-url="<%- config.url %>"
      data-site-root-path="<%- config.root %>"
      data-site-home-url="<%- config.url + config.root %>"
      data-lib-home-url="<%- config.aframe_lib.home_url %>"
      data-lib-examples-url="<%- config.aframe_lib.examples_url %>"
      data-title="{title} | <%= config.title %>"
      data-is-spa="<%= config.spa %>"
      data-ga-id="<%- config.google_analytics %>"
      data-aframe-version="<%= config.aframe_version %>"
      data-docs-version="<%= docs_active_version(page) %>">
  <head>
    <title><%- pageTitle.replace('<', '&lt;') %></title>
    <%- partial('partials/force_https') %>
    <meta charset="utf-8">
    <!-- Don't index old documentation pages. -->
    <meta name="robots"
      content="<%- docs_active_version(page) === config.aframe_version ? config.robots : 'NOINDEX' %>">
    <meta name="description" content="<%= meta_description(page) %>">
    <meta name="keywords" content="<%= config.keywords.join(',') %>">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- Origin Trial Token, feature = WebXR Device API, origin = https://aframe.io, expires = 2018-03-05 -->
    <meta http-equiv="origin-trial" data-feature=" WebXR Device API (For Chrome M69+)" data-expires="2019-03-05" content="Ako5ueZ8LIub4MywyaWBtX6FQOVZBYPxDUBC09XfJRjVfQH1GXOaRO8v4/TQWyPdmw2qm8nJ/f9QfFwE+t20NwsAAABkeyJvcmlnaW4iOiJodHRwczovL2FmcmFtZS5pbzo0NDMiLCJmZWF0dXJlIjoiV2ViWFJEZXZpY2VNNjkiLCJleHBpcnkiOjE1NTE4MzAzOTksImlzU3ViZG9tYWluIjp0cnVlfQ==">
    <!-- Origin Trial Token, feature = WebVR (For Chrome M62+), origin = https://aframe.io, expires = 2018-08-09 -->
    <meta http-equiv="origin-trial" data-feature="WebVR (For Chrome M62+)" data-expires="2018-08-09" content="AlKeBeX7MGtuPmoZUks7FEWi6ke/EeYDPS1zhkb9bsdGr+r9gv+vYXGN7pUIz8+4XPxpWi7guenedSC1jM8B6AcAAABOeyJvcmlnaW4iOiJodHRwczovL2FmcmFtZS5pbzo0NDMiLCJmZWF0dXJlIjoiV2ViVlIxLjFNNjIiLCJleHBpcnkiOjE1MzM4NDAyMzN9">
    <link rel="canonical" href="<%= config.url %>">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans:300,400,600" rel="stylesheet">
    <meta property="fb:app_id" content="<%- config.fb_app_id %>">
    <meta property="og:title" content="<%= pageTitle %>">
    <meta property="og:site_name" content="<%= config.title %>">
    <meta property="og:type" content="website">
    <meta property="og:url" content="<%= config.url %>">
    <meta property="og:description" content="<%= meta_description(page) %>">
    <meta property="og:image" content="<%- metaImage %>">
    <meta property="og:image:secure_url" content="<%- metaImageSecure %>">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@<%- config.twitter.username %>">
    <meta name="twitter:creator" content="@<%- config.twitter.username %>">
    <meta name="twitter:title" content="<%= pageTitle %>">
    <meta name="twitter:description" content="<%= meta_description(page) %>">
    <meta name="twitter:image" content="<%- metaImage %>">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="<%- config.theme_color %>">
    <link rel="icon" sizes="192x192" href="<%- absolute_url_for('images/aframe-logo-192.png') %>">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="apple-touch-icon" href="<%- absolute_url_for('images/aframe-logo-152.png') %>">
    <link rel="alternate" type="application/rss+xml" title="Feed" href="<%- absolute_url_for(config.feed.path) %>">
    <%- partial('partials/ga') %>

    <% if (!is404) { %>
      <%- js('js/compat.js') %>
    <% } %>

    <% if (showExamples) { %>
      <%- css('css/index') %>
      <% if (!isHome) { %>
        <%- css('css/examples') %>
      <% } %>
    <% } else if (!is404) { %>
      <%- css('css/secondary') %>
    <% } %>

    <% if (isSecondary || is404) { %>
      <!-- Search. -->
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.css"/>
      <%- css('css/search') %>
    <% } %>
  </head>

  <body data-page-layout="<%- page.layout %>" data-page-type="<%- page.type %>">
    <main id="main" class="main"><%- body %></main>

    <% if (!is404) { %>
      <%- js('js/common.js') %>
      <% if (showExamples) { %>
        <%- js('js/examples.js') %>
      <% } %>
      <% if (isSecondary) { %>
        <%- js('js/docs.js') %>
      <% } %>
    <% } %>

    <% if (isSecondary || is404) { %>
      <%- partial('partials/search') %>
    <% } %>
  </body>
</html>
