<%- partial('partials/secondary/sidebar_wordmark') %>
<aside id="sidebar" class="sidebar borderless-links">
  <%- partial('partials/secondary/sidebar_header', {site: site}) %>
</aside>

<div class="content content--structured content--<%- page.type %> copy">
  <%- partial('partials/secondary/mobile_header') %>

  <div class="copy__wrap">
    <h1 class="page__title"><%- page.title %></h1>

    <%- page.content %>

    <% if (page.type === 'showcase') { %>
      <%- partial('partials/showcase', {projects: site.data.showcase.projects}) %>
    <% } %>

    <%- partial('partials/docs/footer', {item: page}) %>
  </div>

    <% if (page.toc) { %>
      <div class="secondary-sidebar">
        <%- partial('partials/toc', {page: page}) %>
      </div>
    <% } %>
</div>
