<% var currentUrl = page_url(page.path) %>

<aside class="sidebar">
  <div class="sidebar__wrap">
    <div class="sidebar__wrap__inner">

      <header id="header" class="header">
        <a id="logo" class="logo borderless-links" href="/">
          <span class="logo__wordmark">A-Frame</span>
        </a>
      </header>

      <a href="/docs/" class="mobile-get-started nav-link get-started">
        Get Started
      </a>

      <div class="list examples-list">
        <h2 class="page-title">Examples</h2>

        <ul id="examplesSubnav" class="subnav examples-subnav borderless-links">
          <% site.data.examples.showcase.forEach(function (item, idx) { %>
            <% var localUrl = url_for(example_url(item)) %>
            <% var className = localUrl === currentUrl ? ' current' : '' %>
            <% var supportsAndroid = item.supports && ('android' in item.supports) ? item.supports.android : true %>
            <% var supportsIOS = item.supports && ('ios' in item.supports) ? item.supports.ios : true %>

            <li data-supports-android="<%= supportsAndroid %>" data-supports-ios="<%= supportsIOS %>" data-url="<%= item.url %>" data-scene-url="<%= item.scene_url %>" data-slug="<%= item.slug %>" data-idx="<%= idx %>" class="example-item subnav-item<%= className %>"><a data-spa-link href="<%= localUrl %>" class="subnav-link<%= className %>"><span class="sidebar__link__text"><%= item.title %></span></a></li>
          <% }) %>
        </ul>

        <nav class="example-nav c">
          <a id="examplePrev" class="example-nav-link example-nav-prev" href="">← <span>Previous</span></a>
          <a id="exampleNext" class="example-nav-link example-nav-next float-right" href=""><span>Next</span> →</a>
        </nav>
      </div>

    </div>
  </div>
</aside>
