<% var currentUrl = page_url(page.path) %>

<!-- Homepage examples bar. -->
<aside class="sidebar">
  <div class="sidebar__wrap">
    <div class="sidebar__wrap__inner">

      <!-- Wordmark. -->
      <header id="header" class="header">
        <a id="logo" class="logo borderless-links" href="/">
          <span class="logo__wordmark">A-Frame</span>
        </a>
      </header>

      <!-- Get Started for Mobile. -->
      <a href="/docs/" class="mobile-get-started nav-link get-started">
        Get Started
      </a>

      <div class="list examples-list blog-list">
        <h2 class="page-title"><a href="/blog">Blog</a></h2>
        <ul id="examplesSubnav"
            class="subnav examples-subnav borderless-links">
          <% var lastPost = get_last_post(site.posts.sort('-date').data) %>
          <li class="example-item">
            <a class="subnav-link" href="<%- absolute_url_for(lastPost.path) %>" title="<%- lastPost.title %>"><%- lastPost.title %></a>
          </li>
        </ul>
      </div>

      <!-- Examples. -->
      <div class="list examples-list">
        <h2 class="page-title">Examples</h2>
        <ul id="examplesSubnav"
            class="subnav examples-subnav borderless-links">
          <% site.data.examples.showcase.forEach(function (item, idx) { %>
            <% var className = item.example_url === currentUrl ? ' current' : '' %>
            <li data-current="<%- item.example_url === currentUrl %>"
                data-supports-mobile="<%= item.supports.mobile !== false %>"
                data-example-url="<%= item.example_url %>"
                data-scene-url="<%= item.scene_url %>"
                data-slug="<%= item.slug %>"
                data-idx="<%= idx %>"
                class="example-item subnav-item<%= className %>">
              <a href="<%= item.example_url %>"
                 class="subnav-link<%= className %>"
                 <% if (item.author) { %>
                   title="By <%- item.author %>"
                 <% } %>>
                <span class="sidebar__link__text"><%- item.title %></span>
                <% if (item.supports.controllers) { %>
                  <img class="example-tracked-controllers" src="/images/controllers.png" title="This example supports or requires tracked controllers.">
                <% } %>
              </a>
            </li>
          <% }) %>
        </ul>

        <div id="subscribeForm">
          <p>Subscribe to get updates on A-Frame and our VR projects!</p>
          <form>
            <input name="email" type="email" placeholder="Email address">
            <input name="group" type="hidden" value="0335f346e8">
            <button class="submit" type="submit">Subscribe</button>
          </form>
        </div>

        <!-- Navigation arrows. -->
        <nav class="example-nav c">
          <a id="examplePrev" class="example-nav-link example-nav-prev" href="#">← <span>Previous</span></a>
          <a id="exampleNext" class="example-nav-link example-nav-next float-right" href="#"><span>Next</span> →</a>
        </nav>
      </div>
    </div>
  </div>
</aside>
