<div class="sidebar">
  <ul class="main-menu">
    <%- partial('partials/main_menu') %>
  </ul>
</div>
<div class="content blog">
  <h1 style="text-align: center; margin-bottom: 0.5em">The A-Frame Blog</h1>
  <% site.posts.sort('date', -1).each(function (post) { %>
    <div class="post">
      <h2><a href="<%- url_for(post.path) %>"><%- post.title %></a></h2>
      <h4><%- post.date.format('MMM D[,] YYYY') %></h4>
      <div class="post__excerpt"><%- post.excerpt %></div>
      <a href="<%- url_for(post.path) %>" class="post__more">Read more &hellip;</a>
    </div>
  <% }) %>
</div>
