<li class="nav-item"><a href="<%- url_for('guide/') %>" class="nav-link<%- page.canonical_path.match(/guide/) ? ' current' : '' %>"><span>Guide</span></a></li>
<li class="nav-item"><a href="<%- url_for('docs/') %>" class="nav-link<%- page.canonical_path.match(/docs/) ? ' current' : '' %>"><span>Docs</span></a></li>
<li class="nav-item"><a href="<%- url_for('examples/') %>" class="nav-link<%- page.canonical_path.match(/examples/) ? ' current' : '' %>"><span>Examples</span></a></li>
<li class="nav-item"><a href="<%- url_for('community/') %>" class="nav-link<%- page.canonical_path.match(/community/) ? ' current' : '' %>"><span>Community</span></a></li>
<li class="nav-item"><a href="<%- url_for('blog/') %>" class="nav-link<%- page.canonical_path.match(/blog/) ? ' current' : '' %>"><span>Blog</span></a></li>
<li class="nav-item"><a href="<%- url_for('faq/') %>" class="nav-link<%- page.canonical_path.match(/faq/) ? ' current' : '' %>"><span>FAQ</span></a></li>
