<li class="nav-item nav-item-getting-started"><a href="<%- url_for('guide/getting-started/') %>" class="nav-link<%- page.canonical_path.match(/guide/) ? ' current' : '' %>"><span>Getting Started</span></a></li>
<li class="nav-item nav-item-docs"><a href="<%- url_for('docs/') %>" class="nav-link<%- page.canonical_path.match(/docs/) ? ' current' : '' %>"><span>Docs</span></a></li>
<li class="nav-item nav-item-examples"><a href="<%- url_for('examples/') %>" class="nav-link<%- page.canonical_path.match(/examples/) ? ' current' : '' %>"><span>Examples</span></a></li>
<li class="nav-item nav-item-blog"><a href="<%- url_for('blog/') %>" class="nav-link<%- page.canonical_path.match(/blog/) ? ' current' : '' %>"><span>Blog</span></a></li>
<li class="nav-item nav-item-faq"><a href="<%- url_for('faq/') %>" class="nav-link<%- page.canonical_path.match(/faq/) ? ' current' : '' %>"><span>FAQ</span></a></li>
