<aside class="sidebar">

  <header id="header" class="header">
    <a id="logo" class="logo" href="<%- url_for('/') %>">
      <span class="logo__wordmark"><%- config.title %></span>
    </a>
    <ul id="nav" class="nav">
      <%- partial('main_menu') %>
    </ul>
  </header>

  <div class="list">
    <h2 class="hidden-visually">Examples</h2>
    <ul class="menu-root">
      <% Object.keys(site.data.examples).forEach(function (sectionSlug) { %>
        <% var section = site.data.examples[sectionSlug] %>
        <h3 class="section__title"><%- section.title %></h3>
        <ul class="sidebar__list">
          <% if (section.examples) { %>
            <% section.examples.forEach(function (example) { %>
              <li class="sidebar__item"><a href="<%- url_for(example.url) %>" class="nav-link sidebar__link<%- page.section === example.section && page.slug === example.slug ? ' current' : '' %><%- example.is_new ? ' new' : '' %>"><span class="sidebar__link__text"><%- example.title %></span></a></li>
            <% }) %>
          <% } %>
        </ul>
      <% }) %>
    </ul>
  </div>
</aside>
