<div class="sidebar">
  <ul class="main-menu">
    <%- partial('main_menu') %>
  </ul>
  <div class="list">
    <h2>
      <%- type === 'docs' ? 'Docs' : (type.charAt(0).toUpperCase() + type.slice(1)) %>
      <select class="version-select">
        <option selected>0.1.0</option>
      </select>
    </h2>
    <ul class="menu-root">
      <% type !== 'docs' && site.pages.find({type: type}).sort('order').each(function (p) { %>
        <li>
          <a href="<%- url_for(p.path) %>" class="sidebar-link<%- page.title === p.title ? ' current' : '' %><%- p.is_new ? ' new' : '' %>"><span class="sidebar-link-text"><%- p.title %></span></a>
        </li>
      <% }) %>
    </ul>
  </div>
</div>
