<aside class="sidebar">

  <%- partial('sidebar_header') %>

  <div class="list">
    <% site.pages.find({parent_section: 'docs'}).sort('order').each(function (section) { %>
      <h3 class="section-title docs-section-title<%- type === section.type ? ' section-active' : ' section-inactive' %>"><a href="<%- page_url('docs/' + section.type + '/') %>"><%- section.section_title %></a></h3>

      <ul class="subnav docs-subnav">

        <% site.pages.find({parent_section: 'docs', type: section.type}).sort('title').each(function (p) { %>
          <% if (p.section_title) { %>
            <li class="subnav-item">
              <a href="<%- page_url(p.path) %>" class="subnav-link<%- page.title === p.title ? ' current' : '' %>"><%- p.title %></a>
            </li>
          <% } %>
        <% }) %>

        <% site.pages.find({type: section.type}).sort('title').each(function (p) { %>
          <% if (!p.section_title) { %>
            <li class="subnav-item">
              <a href="<%- page_url(p.path) %>" class="subnav-link<%- page.title === p.title ? ' current' : '' %>"><%- p.title %></a>
            </li>
          <% } %>
        <% }) %>

      </ul>

    <% }) %>

  </div>
</aside>
