<!-- FYI: this template is currently unused, but it's useful, so keep it around -->

<aside class="sidebar borderless-links">

  <%- partial('partials/generic/sidebar_header') %>

  <a href="<%- url_for('docs/') %>" class="mobile-get-started nav-link get-started<%- page.canonical_path.match(/docs/) ? ' current' : '' %>">
    Get Started
  </a>

  <div class="list">
    <ul class="subnav">
      <% site.pages.find({type: type}).sort(order_by || 'order').each(function (p) { %>
        <li class="subnav-item">
          <a href="<%- page_url(p.path) %>" class="subnav-link<%- page.title === p.title ? ' current' : '' %>"><%- p.title %></a>
        </li>
      <% }) %>
    </ul>
  </div>

</aside>
