<%

var links = [
  {
    url: 'docs/guide/',
    title: 'Getting Started',
    slug: 'getting-started'
  },
  {
    url: 'docs/guide/installation.html',
    title: 'Install',
    slug: 'install'
  },
  {
    url: config.github.aframe.url,
    title: 'GitHub',
    slug: 'github'
  },
  {
    url: 'faq/',
    title: 'FAQ',
    slug: 'faq'
  },
  {
    url: 'blog/',
    title: 'Changelog',
    slug: 'changelog'
  }
];

links = links.map(function (link) {
  if (is_external_url(link.url)) {
    link.external = true;
  } else {
    if (page.nav_slug && link.slug === page.nav_slug) {
      link.current = true;
    }

    if (!page.nav_slug && page.canonical_path.match(new RegExp(link.url))) {
      link.current = true;
    }
  }

  return link;
});

%>

<header id="header" class="header">
  <a id="logo" class="logo" href="<%- url_for(config.root) %>">
    <span class="logo__wordmark"><%- config.title %></span>
  </a>

  <ul id="nav" class="nav">
    <% links.forEach(function (link) { %>
      <li class="nav-item"><a href="<%- url_for(link.url) %>" class="nav-link nav-link-docs<%- link.current ? ' current' : '' %>"<%- link.external ? ' target="blank" rel="external"' : '' %>><span><%- link.title %></span></a></li>
    <% }) %>
  </ul>
</header>
