<%
var links = [
  {url: docs_root_path(site.pages, config.aframe_version), text: 'Docs'},
  {url: 'blog/', text: 'Blog'},
  {url: 'community/', text: 'Community'},
  {url: 'showcase/', text: 'Showcase'},
  {url: config.github.aframe.url, text: 'GitHub', slug: 'github', title: 'A-Frame Project Repository'},
  {url: config.slack.aframe.signup_url, text: 'Slack', slug: 'slug', title: 'Sign up to the A-Frame Slack'},
  {url: 'https://supermedium.com/discord/', text: 'Discord', slug: 'slug', title: 'A-Frame Discord Channel'},
  {url: 'https://aframe.io/subscribe/', text: 'Newsletter'},
  {url: 'https://stackoverflow.com/questions/ask/?tags=aframe', text: 'Ask a Question'}
];
links = links.map(function (link) {
  if (is_external_url(link.url)) {
    link.external = true;
  } else {
    if (page.nav_slug && link.slug === page.nav_slug) {
      link.current = true;
    }
    if (!page.nav_slug && page.canonical_path.match(new RegExp(link.url.replace(/\/$/, '')))) {
      link.current = true;
    }
    if (link.text === 'Docs' && page.path.indexOf('docs/') === 0) {
      link.current = true;
      link.disabled = true;
    }
  }
  return link;
});
%>

<div id="secondary-nav" class="secondary-nav">
  <header id="header" class="header">
    <a id="logo" class="logo" href="<%= url_for(config.root) %>" title="<%= config.title %>">
      <span class="logo__wordmark"><%= config.title %></span>
    </a>
  </header>

  <%- partial('partials/search_field', {location: 'sidebar-mobile'}) %>

  <ul id="nav" class="nav">
    <% links.forEach(function (link) { %>
      <li <% if (link.slug) { %> data-slug="<%= link.slug %>"<% } %> class="nav-item">
        <a href="<%= url_for(link.url) %>"
           class="nav-link nav-link-docs<%= link.current ? ' current' : '' %><%= link.disabled ? ' nav-link-disabled' : '' %>"
           <%- link.external ? ' rel="external"' : '' %>
           <% if (link.title) { %> title="<%= link.title %>"<% } %>>
          <span><%= link.text %></span>
        </a>
      </li>
    <% }) %>
  </ul>
</div>
